/* GLOBAL CLASSES */

header {
  background-color: #f72210;
  height: 90px;
  padding: 20px 10px 15px 10px;
}

h2 {
  font-size: 1.4rem;
}

.color-grey {
  color: #807f84;
}

.color-red {
  color: #f72210;
}

.bg-red {
  background-color: #f72210;
}
nav {
  font-family: "Roboto Condensed", sans-serif;
}

.nav-a {
  color: rgb(20, 20, 20);
}

.nav-a:hover,
.navbar-trends-a:hover {
  color: #f72210;
  text-decoration: none;
}

.btn-subscribe {
  border-radius: 20px;
  background-color: #ffe400;
}

.top-btn-container {
  padding-top: 1.4rem;
}

.search-bar {
  background: url(../img/search.JPG) no-repeat;
  background-position: right;
  border: none;
  width: 80px;
}
.my-turn-img {
  width: 100%;
}

.my-turn-txt {
  line-height: 1.2em;
  font-weight: 600;
}

.side-subscribe {
  width: 90%;
  background: #f4f5f6;
}

.sticky {
  position: sticky;
  bottom: 0;
  z-index: 10;
  align-self: flex-end;
}

.icon-middle {
  width: 29px;
  height: 28px;
}
/* ARTICLES AND NEWS CLASSES */

.category {
  background-color: #e6e6e6;
  position: absolute;
  left: 0;
  bottom: 0;
}

/* MORE STORIES STYLING */

.more-stories-h4 {
  font-size: 1rem;
  line-height: 1.1rem;
}

.stories-summary {
  font-size: 0.8rem;
}

/* OTHER CLASSES */
.main-logo {
  width: 396px;
  height: 60px;
  filter: invert(100%);
}

.author-pic {
  width: 63px;
}

.byline {
  font-size: 0.8rem;
}

.debate-separator {
  background: url(/img/debate-separator-bg.jpg) repeat-x;
  background-position: center;
}

.debate-bold-borders {
  border-top: 3px solid #ccc;
  border-bottom: 3px solid #ccc;
}

.all-features {
  background-color: #faf0f0;
}

.all-features:hover {
  background-color: #dbdcdd;
  cursor: pointer;
}
@media (max-width: 992px) {
  header {
    display: flex;
    height: 60px;
    padding: 2px;
    align-items: center;
  }

  .main-logo {
    height: 20px;
    width: 132px;
    vertical-align: middle;
    align-self: center;
  }

  .top-btn-container {
    padding: 0;
  }
}
